@{
    ViewData["Title"] = "MultiSMS";
}

<div class="modal fade" id="deleteEntityModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="deleteEntityModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 550px; min-width: 307px; width:fit-content;">
        <div class="modal-content">
            <div class="modal-body">
                <span class="form-subtitle" id="modal-content-text"></span>
            </div>
            <div class="modal-footer">
                <button class="violet-button" id="confirmDelete" type="button" style="height:40px; background-color: #c95252;">Usuń kontakt</button>
                <button class="violet-button" id="denyDelete" type="button" style="margin-left:10px; height:40px;">Anuluj</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewReportModal" tabindex="-1" role="dialog" aria-labelledby="viewReportModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 550px; min-width: 307px; width:fit-content;">
        <div class="modal-content">
            <div class="modal-body">
                <span class="form-subtitle" id="import-modal-content-text">Importowanie kontaktów w toku, proszę czekać...</span>
            </div>
            <div class="modal-footer" id="import-modal-footer">
                <button class="violet-button" id="viewReport" type="button" style="display:none; height:40px; margin-right:10px;">Otwórz szczegółowy raport</button>
                <button class="ie-button" id="closeModal" type="button" style="display:none; height:40px; margin-left:4px">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="content-container">
    <div class="tab-content" id="category-tab-content">
        <div class="tab-pane show active" id="send-sms" aria-labelledby="sms-tab">
            <div class="alert alert-dismissible" id="status-message-sms" role="alert" style="border-radius: 50px; display:none;"></div>
            <div class="sms-container options-container">
                <div class="option-content">
                    <form class="sms-options-form options-form" id="send-sms-form">
                        <div class="row">
                            <div class="col">
                                <label for="GroupOfContacts">Grupa kontaktów</label>
                                <div style="width: 100%; display: inline-flex; justify-content: space-between;">
                                    <div style="display: flex; align-items: center; justify-content: space-between; position:relative; width: 100%;">
                                        <input type="text" class="form-input" id="GroupOfContacts" style="flex-grow:1; font-weight:500;" required disabled>
                                        <button type="button" class="btn-close text-dark input-icons" id="remove-group-selection-button" onclick="" aria-label="Close" style="width: 7px; height: 10px; top: 45%;"></button>
                                    </div>
                                    <button class="violet-button inline-button" id="choose-group-of-contacts" type="button" style="min-width: 125px; height: 44px; margin-left: 30px;" onclick="OpenChooseGroupForSMS()">Wybierz</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="ChosenTemplate">Szablon</label>
                                <div style="width: 100%; display: inline-flex; justify-content: space-between;">
                                    <div style="display: flex; align-items: center; justify-content: space-between; position:relative; width: 100%;">
                                        <input type="text" class="form-input" id="ChosenTemplate" style="flex-grow:1; font-weight:500;" disabled>
                                        <button type="button" class="btn-close text-dark input-icons" id="remove-template-selection-button" onclick="" aria-label="Close" style="width: 7px; height: 10px; top: 45%;"></button>
                                    </div>
                                    <button class="violet-button inline-button" id="choose-template" type="button" style="min-width: 125px; height: 44px; margin-left: 30px;" onclick="OpenChooseTemplateForSMS()">Wybierz</button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <label for="SmsText">Treść wiadomości *</label>
                                <textarea class="form-input" id="SmsText" rows="5" maxlength="160" required spellcheck="false"></textarea>
                                <div style="display: flex; justify-content:space-between;">
                                    <div>
                                        <a href="# more-options" class="bleak-hoverable options-hidden" style="margin-top: 0.20rem;">Więcej opcji</a>
                                    </div>
                                    <div class="symbol-counter" style="margin-top: 0.20rem; text-align: right" id="sms-text-symbol-counter">&nbsp</div>
                                </div>
                            </div>
                        </div>
                        <div class="more-options-container" style="display:none;">
                            <div class="row">
                                <div class="col">
                                    <label for="AdditionalPhoneNumbers" style="margin-top:10px">Dodatkowe numery telefonu</label>
                                    <input type="text" class="form-input" id="AdditionalPhoneNumbers" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="Comment">Komentarz</label>
                                    <textarea class="form-input" id="Comment" rows="2" maxlength="100" style="margin-bottom:0px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center d-flex">
                            <button type="submit" class="violet-button" style="margin-top:20px;" id="SendSmsMessage">Wyślij wiadomość SMS</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="choose-group-for-sms-container list-container" style="display:none;">
                <div class="list-header">
                    <div class="previous-page" style="flex:1;">
                        <button class="violet-button" id="choose-group-for-sms-previous-button" type="button" style="display: flex; align-items:center;" onclick="GoBackToSMSWindow()">
                            <span class="arrow-back" style="max-width:24px;"><img src="~/icons/previous.png" /></span>
                            <span>Powrót</span>
                        </button>
                    </div>
                    <div class="option-name" style="flex:auto; text-align:center;">
                        <span class="opion-name-placeholder" id="choose-group-for-sms-title">Wybierz grupę odbiorców wiadomości</span>
                    </div>
                    <div class="list-search-bar">
                        <input class="search-for search-for-group-for-sms" placeholder="Wyszukaj grupę" style="flex:1;" />
                    </div>
                </div>
                <div class="list-content">
                    <div class="table-responsive">
                        <table class="choose-group-for-sms-list table table-borderless" id="choose-group-for-sms-table">
                            <thead>
                                <tr>
                                    <th class="small-cell">Nazwa</th>
                                    <th class="big-cell">Opis</th>
                                    <th class="tiny-centered-cell">Liczba członków</th>
                                    <th class="tiny-centered-cell">Akcja</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="choose-template-for-sms-container list-container" style="display:none;">
                <div class="list-header">
                    <div class="previous-page" style="flex:1;">
                        <button class="violet-button" id="choose-template-for-sms-previous-button" type="button" style="display: flex; align-items:center;" onclick="GoBackToSMSWindow()">
                            <span class="arrow-back" style="max-width:24px;"><img src="~/icons/previous.png" /></span>
                            <span>Powrót</span>
                        </button>
                    </div>
                    <div class="option-name" style="flex:auto; text-align:center;">
                        <span class="opion-name-placeholder" id="choose-template-for-sms-title">Wybierz szablon wiadomości</span>
                    </div>
                    <div class="list-search-bar">
                        <input class="search-for search-for-template-for-sms" placeholder="Wyszukaj szablon" style="flex:1;" />
                    </div>
                </div>
                <div class="list-content">
                    <div class="table-responsive">
                        <table class="choose-template-for-sms-list table table-borderless" id="choose-template-for-sms-table">
                            <thead>
                                <tr>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">Opis</th>
                                    <th scope="col">Treść</th>
                                    <th class="tiny-centered-cell">Opcje</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="templates">
            <div class="templates-list-container list-container">
                <div class="list-header">
                    <div class="list-header-left">
                        <button class="add-new-button violet-button" type="button" onclick="OpenCreateTemplateWindow()">Dodaj nowy</button>
                    </div>
                    <div class="list-search-bar d-flex">
                        <input class="search-for template-search" placeholder="Wyszukaj szablon" />
                    </div>
                </div>
                <div class="list-content">
                    <div class="table-responsive">
                        <table class="template-list table table-borderless" id="template-table">
                            <thead>
                                <tr>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">Opis</th>
                                    <th scope="col">Treść</th>
                                    <th class="centered-cell" scope="col">Opcje</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="list-footer" style="margin-top:15px; display:flex; align-items: center;">
                    <div style="flex:1;" id="template-previous-button-container">
                    </div>
                    <div class="page-counter" style="flex:auto; text-align:center;">
                        <span class="form-subtitle" id="template-page-counter" style="display:none;">0</span>
                    </div>
                    <div style="flex:1; display:flex; justify-content:right;" id="template-next-button-container">
                    </div>
                </div>
            </div>
            <div class="templates-options-container options-container" style="display:none;">
                <div class="option-content">
                    <div class="options-header">
                        <div class="previous-page" style="flex:1;">
                            <button class="violet-button" id="templates-previous-button" type="button" style="display: flex; align-items:center;" onclick="GoBackToTemplateList()">
                                <span class="arrow-back" style="max-width:24px;"><img src="~/icons/previous.png" /></span>
                                <span>Powrót</span>
                            </button>
                        </div>
                        <div class="option-name" style="flex:auto; text-align:center;">
                            <span class="opion-name-placeholder" id="template-input-window-title">Nowy szablon</span>
                        </div>
                        <div style="flex:1;"></div>
                    </div>
                    <hr />
                    <form class="template-options-form options-form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label for="templateNameInput">Nazwa szablonu *</label>
                                    <input type="text" class="form-input" id="templateNameInput" required maxlength="30" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="templateDescriptionInput">Opis</label>
                                    <input type="text" class="form-input" id="templateDescriptionInput" maxlength="50" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="templateContentInput">Treść wiadomości *</label>
                                    <textarea class="form-input" id="templateContentInput" rows="5" maxlength="160" required spellcheck="false"></textarea>
                                    <div class="symbol-counter" style="margin-top: 0.25rem; text-align: right" id="symbolCounterAdd">&nbsp</div>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center d-flex">
                            <button type="submit" class="violet-button" id="createOrEditButtonTemplates"></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="templates-details-container options-container" style="display:none; ">
                <div class="option-content" style="max-width:600px;">
                    <div class="options-header">
                        <div class="previous-page" style="flex:1;">
                            <button class="violet-button" id="templates-details-previous-button" type="button" style="display: flex; align-items:center;" onclick="GoBackToTemplateList()">
                                <span class="arrow-back" style="max-width:24px;"><img src="~/icons/previous.png" /></span>
                                <span>Powrót</span>
                            </button>
                        </div>
                        <div class="option-name" style="flex:auto; text-align:center;">
                            <span class="opion-name-placeholder" id="template-details-window-title">Szablon</span>
                        </div>
                        <div style="flex:1;"></div>
                    </div>
                    <hr />
                    <div class="template-details-content-container" style="padding: 10px 30px 30px 30px;">
                        <span class="form-subtitle">Informacje</span>
                        <div class="row mb-10" style="margin-top: 20px;">
                            <div class="col d-flex">
                                <label class="templates-details-label" for="TemplateId">Id:</label>
                                <span class="details-span" id="TemplateId"></span>
                            </div>
                        </div>
                        <div class="row mb-10">
                            <div class="col d-flex">
                                <label class="templates-details-label" for="TemplateName">Nazwa:</label>
                                <span class="details-span" id="TemplateName"></span>
                            </div>
                        </div>
                        <div class="row mb-10">
                            <div class="col d-flex">
                                <label class="templates-details-label" for="TemplateDescription">Opis:</label>
                                <span class="details-span" id="TemplateDescription"></span>
                            </div>
                        </div>
                        <div class="row mb-10">
                            <div class="col d-flex">
                                <label class="templates-details-label" for="TemplateContent">Treść:</label>
                                <span class="details-span" id="TemplateContent"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="contacts">
            <div class="contacts-container">
                <div class="contacts-list-container list-container">
                    <div class="list-header">
                        <div class="list-header-left">
                            <button class="add-new-button violet-button" type="button" onclick="OpenCreateContactWindow()">Dodaj nowy</button>
                            <input type="file" id="import-file-input" style="display: none;" accept=".csv" />
                            <button class="import-contacts-button ie-button" type="button" onclick="TriggerFileInput()">Importuj kontakty</button>
                            <button class="export-contacts-button ie-button" type="button" onclick="ExportContactsAndDownloadExcel()">Exportuj kontakty</button>
                        </div>
                        <div class="list-search-bar d-flex">
                            <input class="search-for contact-search" placeholder="Wyszukaj kontakt">
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="table-responsive">
                            <table class="contacts-list table table-borderless" id="contacts-table">
                                <thead>
                                    <tr>
                                        <th class="tiny-cell">Imię</th>
                                        <th class="tiny-cell" id="contact-surname">Nazwisko</th>
                                        <th class="tiny-cell">Email</th>
                                        <th class="small-cell" style="width: 150px;">Numer telefonu</th>
                                        <th class="tiny-centered-cell">Status</th>
                                        <th class="centered-cell">Grupy</th>
                                        <th class="centered-cell" scope="col">Opcje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="list-footer" style="margin-top:15px; display:flex; align-items: center;">
                        <div style="flex:1;" id="contact-previous-button-container">
                        </div>
                        <div class="page-counter" style="flex:auto; text-align:center;">
                            <span class="form-subtitle" id="contact-page-counter" style="display:none;">0</span>
                        </div>
                        <div style="flex:1; display:flex; justify-content:right;" id="contact-next-button-container">
                        </div>
                    </div>
                </div>
                <div class="contacts-options-container options-container" style="margin: 20px; display: none;">
                    <div class="option-content">
                        <div class="options-header">
                            <div class="previous-page" style="flex:1;">
                                <button class="violet-button" id="contacts-previous-button" type="button" style="display: flex; align-items:center;" onclick="GoBackToContactList()">
                                    <span class="arrow-back" style="max-width:24px;"><img src="/icons/previous.png"></span>
                                    <span>Powrót</span>
                                </button>
                            </div>
                            <div class="option-name" style="flex:auto; text-align:center;">
                                <span class="opion-name-placeholder" id="contact-input-window-title">Nowy kontakt</span>
                            </div>
                            <div style="flex:1;"></div>
                        </div>
                        <hr />
                        <form class="contact-options-form options-form">
                            <div class="personal-data" style="margin-bottom:20px;">
                                <span class="form-subtitle">Dane Personalne</span>
                                <div class="form-group" style="margin-top: 20px;">
                                    <div class="row">
                                        <div class="col">
                                            <label for="contactNameInput">Imię *</label>
                                            <input type="text" class="form-input" id="contactNameInput" required maxlength="40">
                                        </div>
                                        <div class="col">
                                            <label for="contactSurnameInput">Nazwisko *</label>
                                            <input type="text" class="form-input" id="contactSurnameInput" required maxlength="40">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="contactEmail">Email</label>
                                            <input type="email" class="form-input" id="contactEmail" maxlength="50">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="contact-data" style="margin-top:20px; margin-bottom:20px;">
                                <span class="form-subtitle">Dane Kontaktowe</span>
                                <div class="form-group" style="margin-top:20px;">
                                    <div class="row">
                                        <div class="col">
                                            <label for="contactPhoneNumber">Numer telefonu *</label>
                                            <input type="tel" class="form-input" id="contactPhoneNumber" required maxlength="15" minlength="15" pattern="^\+[0-9]{2} \d{3} \d{3} \d{3}$">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="contactHQAddress">Adres miejsca pracy</label>
                                            <input type="text" class="form-input" id="contactHQAddress" maxlength="50">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="ContactPostalNumber" style="white-space: nowrap;">Kod pocztowy</label>
                                            <input type="text" class="form-input" id="ContactPostalNumber" pattern="[0-9]{2}-[0-9]{3}" maxlength="6">
                                        </div>
                                        <div class="col" style="flex-grow: 3;">
                                            <label for="ContactCity">Miasto</label>
                                            <input type="text" class="form-input" id="ContactCity" maxlength="30">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col" style="flex-grow:3;">
                                            <label for="contactDepartment">Jednostka organizacyjna</label>
                                            <input type="text" class="form-input" id="contactDepartment" maxlength="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="other-data" style="margin-top: 20px;">
                                <div class="form-group">
                                    <label for="contactIsActive" style="width:100%;">Czy kontakt obecnie jest zatrudniony?</label>
                                    <div class="form-check form-check-inline" style="margin-bottom: 8px;">
                                        <input class="check-input" type="radio" name="isActive?" id="isActiveYes" value="yes" checked />
                                        <label class="form-check-label" for="IsActiveYes">
                                            Tak
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="check-input" type="radio" name="isActive?" id="isActiveNo" value="no" />
                                        <label class="form-check-label" for="IsActiveNo">
                                            Nie
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="justify-content-center d-flex" style="margin-top: 20px;">
                                <button type="submit" class="violet-button" id="createOrEditButtonContacts"></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="contacts-details-container options-container" style="margin: 20px; display: none;">
                    <div class="option-content" style="max-width: 600px;">
                        <div class="options-header">
                            <div class="previous-page" style="flex:1;">
                                <button class="violet-button" id="contacts-details-previous-button" type="button" style="display: flex; align-items:center;" onclick="GoBackToContactList()">
                                    <span class="arrow-back" style="max-width:24px;"><img src="/icons/previous.png"></span>
                                    <span>Powrót</span>
                                </button>
                            </div>
                            <div class="option-name" style="flex:auto; text-align:center;">
                                <span class="opion-name-placeholder" id="contact-details-window-title">Kontakt</span>
                            </div>
                            <div style="flex:1;"></div>
                        </div>
                        <hr />
                        <div class="contact-details-content-container" style="padding: 10px 30px 30px 30px;">
                            <div class="personal-data" style="margin-bottom:20px;">
                                <span class="form-subtitle">Dane Personalne</span>
                                <div class="form-group" style="margin-top: 20px;">
                                    <div class="row mb-10">
                                        <div class="col d-flex">
                                            <label class="contacts-detail-label" for="contactIdDetail">Id:</label>
                                            <span class="details-span" id="contactIdDetail"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-10">
                                        <div class="col d-flex">
                                            <label class="contacts-detail-label" for="contactNameDetail">Imię:</label>
                                            <span class="details-span" id="contactNameDetail"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-10">
                                        <div class="col d-flex">
                                            <label class="contacts-detail-label" for="contactSurnameDetail">Nazwisko:</label>
                                            <span class="details-span" id="contactSurnameDetail"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-10">
                                        <div class="col d-flex">
                                            <label class="contacts-detail-label" for="contactEmailDetail">Email:</label>
                                            <span class="details-span" id="contactEmailDetail"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="contact-data" style="margin-top:20px; margin-bottom:20px;">
                                <span class="form-subtitle">Dane Kontaktowe</span>
                                <div class="form-group" style="margin-top:20px;">
                                    <div class="row mb-10">
                                        <div class="col d-flex">
                                            <label class="contacts-detail-label" for="contactPhoneNumberDetail">Numer telefonu:</label>
                                            <span class="details-span" id="contactPhoneNumberDetail"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-10">
                                        <div class="col d-flex">
                                            <label class="contacts-detail-label" for="contactHQAddressDetail">Adres miejsca pracy:</label>
                                            <span class="details-span" id="contactHQAddressDetail"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-10">
                                        <div class="col d-flex">
                                            <label class="contacts-detail-label" for="ContactPostalNumberDetail" style="white-space: nowrap;">Kod pocztowy:</label>
                                            <span class="details-span" id="ContactPostalNumberDetail"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-10">
                                        <div class="col d-flex">
                                            <label class="contacts-detail-label" for="ContactCityDetail">Miasto:</label>
                                            <span class="details-span" id="ContactCityDetail"></span>
                                        </div>
                                    </div>
                                    <div class="row mb-10">
                                        <div class="col d-flex">
                                            <label class="contacts-detail-label" for="contactDepartmentDetail">Jednostka organizacyjna:</label>
                                            <span class="details-span" id="contactDepartmentDetail"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="other-data" style="margin-top: 20px;">
                                <div class="row mb-10">
                                    <div class="col d-flex">
                                        <label class="contacts-detail-label" for="contactGroupsDetail">Przypisane grupy:</label>
                                        <span class="details-span" id="contactGroupsDetail"></span>
                                    </div>
                                </div>
                                <div class="row mb-10">
                                    <div class="col d-flex">
                                        <label class="contacts-detail-label" for="contactStatusDetail">Status:</label>
                                        <span class="details-span" id="contactStatusDetail"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="import-report-container list-container" style="display:none;">
                    <div class="list-header">
                        <div class="previous-page" style="flex:1;">
                            <button class="violet-button" id="contacts-previous-button" type="button" style="display: flex; align-items:center;" onclick="FinishBrowsingImportReport()">
                                Zamknij raport
                            </button>
                        </div>
                        <div class="option-name" style="flex:auto; text-align:center;">
                            <span class="opion-name-placeholder" id="report-window-title">Importuj kontakty - raport</span>
                        </div>
                        <div style="flex:1;">
                            <div class="list-search-bar d-flex">
                                <input class="search-for import-contact-search" placeholder="Wyszukaj kontakt">
                            </div>
                        </div>
                    </div>
                    <div class="list-content" style="margin-bottom:20px;" id="import-added-contacts-container">
                        <div class="table-responsive">
                            <table class="added-contacts-list table table-borderless" id="added-contacts-table" style="table-layout:fixed;">
                                <thead>
                                    <tr>
                                        <th colspan="7" class="header" style="color:#5a6372c4; text-align: center; font-size: 18px; padding: 10px;">
                                            Kontakty dodane
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="tiny-cell">Imię</th>
                                        <th class="tiny-cell">Nazwisko</th>
                                        <th class="tiny-cell">Email</th>
                                        <th class="small-cell" style="width: 150px;">Numer telefonu</th>
                                        <th class="tiny-centered-cell">Status</th>
                                        <th class="tiny-centered-cell">Grupy przypisane</th>
                                        <th class="tiny-centered-cell">Grupy błędne (Id)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="list-content" style="margin-bottom:20px; margin-top:5px;" id="import-repeated-contacts-container">
                        <div class="table-responsive">
                            <table class="added-contacts-list table table-borderless" id="repeated-contacts-table" style="table-layout:fixed;">
                                <thead>
                                    <tr>
                                        <th colspan="5" class="header" style="color:#5a6372c4; text-align: center; font-size: 18px; padding: 10px;">
                                            Kontakty powtórzone
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="tiny-cell">Imię</th>
                                        <th class="tiny-cell">Nazwisko</th>
                                        <th class="tiny-cell">Email</th>
                                        <th class="small-cell" style="width: 150px;">Numer telefonu</th>
                                        <th class="tiny-centered-cell">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="list-content" style="margin-bottom:20px; margin-top:5px;" id="import-invalid-contacts-container">
                        <div class="table-responsive">
                            <table class="added-contacts-list table table-borderless" id="invalid-contacts-table" style="table-layout:fixed;">
                                <thead>
                                    <tr>
                                        <th colspan="5" class="header" style="color:#5a6372c4; text-align: center; font-size: 18px; padding: 10px;">
                                            Kontakty nieprawidłowe
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="tiny-cell">Imię</th>
                                        <th class="tiny-cell">Nazwisko</th>
                                        <th class="tiny-cell">Email</th>
                                        <th class="small-cell" style="width: 150px;">Numer telefonu</th>
                                        <th class="tiny-centered-cell">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="groups">
            <div class="groups-list-container list-container">
                <div class="list-header">
                    <div class="list-header-left">
                        <button class="add-new-button violet-button" type="button" onclick="OpenCreateGroupWindow()">Dodaj nową</button>
                    </div>
                    <div class="list-search-bar d-flex">
                        <input class="search-for group-search" placeholder="Wyszukaj grupę" />
                    </div>
                </div>
                <div class="list-content">
                    <div class="table-responsive">
                        <table class="group-list table table-borderless" id="group-table">
                            <thead>
                                <tr>
                                    <th class="small-cell">Nazwa</th>
                                    <th class="big-cell">Opis</th>
                                    <th class="tiny-centered-cell">Liczba członków</th>
                                    <th class="centered-cell" scope="col">Opcje</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="list-footer" style="margin-top:15px; display:flex; align-items: center;">
                    <div style="flex:1;" id="group-previous-button-container">
                    </div>
                    <div class="page-counter" style="flex:auto; text-align:center;">
                        <span class="form-subtitle" id="group-page-counter" style="display:none;">0</span>
                    </div>
                    <div style="flex:1; display:flex; justify-content:right;" id="group-next-button-container">
                    </div>
                </div>
            </div>
            <div class="groups-options-container options-container" style="display:none;">
                <div class="option-content">
                    <div class="options-header">
                        <div class="previous-page" style="flex:1;">
                            <button class="violet-button" id="groups-previous-button" type="button" style="display: flex; align-items:center;" onclick="GoBackToGroupList()">
                                <span class="arrow-back" style="max-width:24px;"><img src="/icons/previous.png"></span>
                                <span>Powrót</span>
                            </button>
                        </div>
                        <div class="option-name" style="flex:auto; text-align:center;">
                            <span class="opion-name-placeholder" id="group-input-window-title">Nowa grupa</span>
                        </div>
                        <div style="flex:1;"></div>
                    </div>
                    <hr />
                    <form class="group-options-form options-form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label for="groupNameInput">Nazwa grupy *</label>
                                    <input type="text" class="form-input" id="groupNameInput" required maxlength="30" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="groupDescriptionInput">Opis grupy</label>
                                    <textarea class="form-input" id="groupDescriptionInput" rows="3" maxlength="100"></textarea>
                                    <div class="symbol-counter" style="margin-top: 0.25rem; text-align: right" id="symbolCounterAddGroups">&nbsp</div>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center d-flex">
                            <button type="submit" class="violet-button" id="createOrEditButtonGroups"></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="groups-options-container-assign list-container" style="display: none;">
                <div class="list-header">
                    <div class="previous-page" style="flex:1;">
                        <button class="violet-button" id="groups-assign-previous-button" type="button" style="display: flex; align-items:center;" onclick="GoBackToGroupListFromAssign()">
                            <span class="arrow-back" style="max-width:24px;"><img src="~/icons/previous.png" /></span>
                            <span>Powrót</span>
                        </button>
                    </div>
                    <div class="option-name" style="flex:auto; text-align:center;">
                        <span class="opion-name-placeholder" id="group-asssign-window-title">Zarządzaj użytkownikami w grupie</span>
                    </div>
                    <div style="flex:1;"></div>
                </div>
                <div class="list-content" style="margin-bottom: 30px;">
                    <div class="table-responsive">
                        <table class="group-assign-chosen-group table table-borderless" id="group-assign-chosen-group-table">
                            <thead>
                                <tr>
                                    <th class="small-cell">Nazwa</th>
                                    <th class="big-cell">Opis</th>
                                    <th class="tiny-centered-cell">Liczba członków</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="list-header">
                    <div></div>
                    <div class="list-search-bar d-flex">
                        <input class="search-for group-search-for-user" placeholder="Wyszukaj użytkownika" />
                    </div>
                </div>
                <div class="list-content">
                    <div class="table-responsive">
                        <table class="group-assign-contact-list table table-borderless" id="group-assign-contact-list-table">
                            <thead>
                                <tr>
                                    <th class="tiny-cell">Imię</th>
                                    <th class="tiny-cell">Nazwisko</th>
                                    <th class="tiny-cell">Numer telefonu</th>
                                    <th class="tiny-centered-cell">Status</th>
                                    <th class="centered-cell">Grupy</th>
                                    <th class="tiny-centered-cell" style="width: 94px;">Akcja</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="groups-details-container options-container" style="margin: 20px; display:none;">
                <div class="option-content" style="max-width: 600px;">
                    <div class="options-header">
                        <div class="previous-page" style="flex:1;">
                            <button class="violet-button" id="groups-previous-button" type="button" style="display: flex; align-items:center;" onclick="GoBackToGroupList()">
                                <span class="arrow-back" style="max-width:24px;"><img src="/icons/previous.png"></span>
                                <span>Powrót</span>
                            </button>
                        </div>
                        <div class="option-name" style="flex:auto; text-align:center;">
                            <span class="opion-name-placeholder" id="group-details-window-title">Grupa</span>
                        </div>
                        <div style="flex:1;"></div>
                    </div>
                    <hr />
                    <div class="groups-details-content-container" style="padding: 10px 30px 30px 30px;">
                        <div class="group-data" style="margin-bottom:20px;">
                            <span class="form-subtitle">Informacje</span>
                            <div class="form-group" style="margin-top:20px;">
                                <div class="row mb-10">
                                    <div class="col d-flex">
                                        <label class="groups-detail-label" for="groupIdDetail">Id:</label>
                                        <span class="details-span" id="groupIdDetail"></span>
                                    </div>
                                </div>
                                <div class="row mb-10">
                                    <div class="col d-flex">
                                        <label class="groups-detail-label" for="groupNameDetail">Nazwa grupy:</label>
                                        <span class="details-span" id="groupNameDetail"></span>
                                    </div>
                                </div>
                                <div class="row mb-10">
                                    <div class="col d-flex">
                                        <label class="groups-detail-label" for="groupDescriptionDetail">Opis grupy:</label>
                                        <span class="details-span" id="groupDescriptionDetail"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="group-members-data" style="margin-top:20px;">
                            <span class="form-subtitle">Członkowie grupy</span>
                            <div class="form-group" style="margin-top:20px;">
                                <div class="table-responsive" style="border: 2px solid #f0f1f1; max-height: 17em;">
                                    <table class="group-members-list table table-borderless" id="group-detail-members-table">
                                        <thead>
                                            <tr>
                                                <th class="tiny-cell">Imię</th>
                                                <th class="tiny-cell">Nazwisko</th>
                                                <th class="small-cell" style="width: 150px;">Numer telefonu</th>
                                                <th class="tiny-centered-cell">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="logs">
            <div class="logs-list-container list-container">
                <div class="list-header">
                    <div class="list-header-left">
                    </div>
                    <div class="list-search-bar d-flex">
                        <input class="search-for log-search" placeholder="Wyszukaj logi" />
                    </div>
                </div>
                <div class="list-content">
                    <div class="table-responsive">
                        <table class="log-list table table-borderless" id="log-table">
                            <thead>
                                <tr>
                                    <th class="tiny-centered-cell">Typ</th>
                                    <th scope="col">Źródło</th>
                                    <th scope="col">Wiadomość</th>
                                    <th class="centered-cell" style="min-width:105px;">Data</th>
                                    <th class="tiny-centered-cell" scope="col">Opcje</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="list-footer" style="margin-top:15px; display:flex; align-items: center;">
                    <div style="flex:1;" id="log-previous-button-container">
                    </div>
                    <div class="page-counter" style="flex:auto; text-align:center;">
                        <span class="form-subtitle" id="log-page-counter" style="display:none;">0</span>
                    </div>
                    <div style="flex:1; display:flex; justify-content:right;" id="log-next-button-container">
                    </div>
                </div>
            </div>
            <div class="logs-details-container options-container" style="margin: 20px; display:none;">
                <div class="option-content" id="log-details-window" style="max-width: 600px;">
                    <div class="options-header">
                        <div class="previous-page" style="flex:1;">
                            <button class="violet-button" id="groups-previous-button" type="button" style="display: flex; align-items:center;" onclick="GoBackToLogsList()">
                                <span class="arrow-back" style="max-width:24px;"><img src="/icons/previous.png"></span>
                                <span>Powrót</span>
                            </button>
                        </div>
                        <div class="option-name" style="flex:auto; text-align:center;">
                            <span class="opion-name-placeholder" id="group-details-window-title">Log</span>
                        </div>
                        <div style="flex:1;"></div>
                    </div>
                    <hr style="margin-bottom: 10px;" />
                    <div class="logs-details-content-container" style="padding: 10px 30px 30px 30px;">
                        <div class="log-data" style="margin-bottom:20px;">
                            <span class="form-subtitle">Informacje</span>
                            <div class="form-group" style="margin-top:20px;">
                                <div class="row mb-10">
                                    <div class="col d-flex">
                                        <label class="logs-detail-label" for="logTypeDetail">Typ:</label>
                                        <span class="details-span" id="logTypeDetail"></span>
                                    </div>
                                </div>
                                <div class="row mb-10">
                                    <div class="col d-flex">
                                        <label class="logs-detail-label" for="logSourceDetail">Źródło:</label>
                                        <span class="details-span" id="logSourceDetail"></span>
                                    </div>
                                </div>
                                <div class="row mb-10">
                                    <div class="col d-flex">
                                        <label class="logs-detail-label" for="logMessageDetail">Wiadomość:</label>
                                        <span class="details-span" id="logMessageDetail"></span>
                                    </div>
                                </div>
                                <div class="row mb-10">
                                    <div class="col d-flex">
                                        <label class="logs-detail-label" for="logCreationDateDetail">Data:</label>
                                        <span class="details-span" id="logCreationDateDetail"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="log-creator-data" style="margin-bottom:20px; margin-top: 4px;">
                            <span class="form-subtitle">Inicjator</span>
                            <div class="form-group" style="margin-top:20px;">
                                <div class="row mb-10">
                                    <div class="col d-flex">
                                        <label class="logs-detail-label" for="logCreatorNameDetail">Imię:</label>
                                        <span class="details-span" id="logCreatorNameDetail"></span>
                                    </div>
                                </div>
                                <div class="row mb-10">
                                    <div class="col d-flex">
                                        <label class="logs-detail-label" for="logCreatorSurnameDetail">Nazwisko:</label>
                                        <span class="details-span" id="logCreatorSurnameDetail"></span>
                                    </div>
                                </div>
                                <div class="row mb-10">
                                    <div class="col d-flex">
                                        <label class="logs-detail-label" for="logCreatorUsernameDetail">Email:</label>
                                        <span class="details-span" id="logCreatorUsernameDetail"></span>
                                    </div>
                                </div>
                                <div class="row mb-10">
                                    <div class="col d-flex">
                                        <label class="logs-detail-label" for="logCreatorPhoneNumberDetail">Numer telefonu:</label>
                                        <span class="details-span" id="logCreatorPhoneNumberDetail"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="log-related-objects-data" style="margin-top:20px;">
                            <div class="form-group" id="log-related-objects-data-form-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="settings">
            <div class="settings-options-password-container options-container" id="settings-password" style="height:320px; align-items: center;">
                <div class="option-content">
                    <form class="setting-options-password-form, options-form" id="settings-password-form" style="width: 100%; padding-top:30px;">
                        <span class="text-danger model-alert-font" id="authorization-failed-message" role='alert' style='display:block; padding:0;'></span>
                        <label class="form-subtitle" for="settings-password-input">Hasło</label>
                        <div class="password-input-container" id="enter-password-window" style="display: flex; justify-content: center; flex-direction:column; margin-bottom:25px;">
                            <input type="password" class="form-input" id="settings-password-input" aria-required="true" placeholder="Wprowadź hasło" required"/>
                            <img src="~/icons/closed-eye.png" class="input-icons" id="settings-eye-icon" alt="Toggle Password Visibility" onclick="togglePasswordVisibility()">
                        </div>
                        <div style="display:flex; justify-content:center; width:100%;">
                            <button id="settings-password-submit-button" type="submit" class="violet-button" style="width:50%; display:flex; justify-content:center; height:44px;">Autoryzuj</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="alert alert-dismissible" id="status-message-settings" role="alert" style="border-radius: 50px; display:none;"></div>
            <div class="settings-options-container options-container" id="settings-container" style="display:none; ">
                <div class="option-content">
                    <div class="options-header">
                        <div style="flex:1;"></div>
                        <div class="option-name" style="flex:auto; text-align:center;">
                            <span class="opion-name-placeholder" id="group-details-window-title">Ustawienia</span>
                        </div>
                        <div style="flex:1;"></div>
                    </div>
                    <hr style="margin-bottom: 10px;"/>
                    <form class="settings-options-form options-form" id="settings-form">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script defer>

    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('settings-password-input');
        var eyeIcon = document.getElementById('settings-eye-icon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.src = window.location.origin + "/icons/eye.png";
        } else {
            passwordInput.type = 'password';
            eyeIcon.src = window.location.origin + "/icons/closed-eye.png";
        }
    }

    $(document).ready(function () {

        $("#settings-password-input").on('input', function () {
            if ($("#settings-password-input").val().length > 0) {
                $("#settings-eye-icon").css('display', 'block')
            };
        });

        CalculateHeaderWidthAndToolbarHeight();
        PaginateTemplatesAndPopulateTable(null, 0, 11, true);
        PaginateContactsAndPopulateTable(null, 0, 11, true);
        PaginateGroupsAndPopulateTable(null, 0, 11, true);
        PaginateLogsAndPopulateTable(null, 0, 11, true);

        let resizeTimer;
        window.addEventListener('resize', () => {
            hoveredWidthInVW = (190 / $(window).width()) * 100;
            differenceInVW = hoveredWidthInVW - (50 / $(window).width()) * 100;
            document.body.classList.add("resize-animation-stopper");
            clearTimeout(resizeTimer);
            resizeTimer = setTimeout(() => {
                document.body.classList.remove("resize-animation-stopper");
            }, 400);
            CalculateHeaderWidthAndToolbarHeight();

        });


        const resizeObserver = new ResizeObserver(entries => {
            for (const entry of entries) {
                const { width, height } = entry.contentRect;
                CalculateHeaderWidthAndToolbarHeight();
            }
        });

        resizeObserver.observe($("#content-render")[0]);

        var initialToolboxContextWidthInPx = 50;
        var hoveredWidthInPx = 201;

        $(".option-list-item").hover(
            function () {
                $("#toolbar").css("width", hoveredWidthInPx + "px");
            },
            function () {
                $("#toolbar").css("width", initialToolboxContextWidthInPx + "px");
            }
        );

        $('#import-file-input').change(function () {
            $("#viewReportModal").modal("show");
            importContacts();
        });

        $(document).on('change', "#select-active-api", function () {
            var apiName = $("#select-active-api").val();
            fetchApiSettingsByName(apiName);
        });

        $(document).on('click', '.template-delete', function (e) {
            e.preventDefault();
            var templateId = $(this).attr("href").split('-')[1];

            var name = $(this).closest('tr').find('.template-name').text();

            $("#modal-content-text").html(`Czy na pewno chcesz usunąć szablon ${name}?`);
            $("#confirmDelete").html("Usuń szablon");

            $('#deleteEntityModal').modal('show');

            $('#confirmDelete').on('click', function () {
                DeleteTemplate(templateId);

                $('#deleteEntityModal').modal('hide');
            });
            $('#denyDelete').on('click', function () {

                $('#deleteEntityModal').modal('hide');
            });
        });

        $(document).on('click', '.template-details', function (e) {
            e.preventDefault();
            var id = $(this).attr('href').split('-')[1];
            var name = $(this).closest('tr').find('.template-name').text();
            var description = $(this).closest('tr').find('.template-description').text();
            var content = $(this).closest('tr').find('.template-content').text();

            $("#TemplateId").text(id);
            $("#TemplateName").text(name);
            $("#TemplateDescription").text(description);
            $("#TemplateContent").text(content);
            $(".templates-list-container").hide();
            $(".templates-details-container").show();
        });

        $(document).on('click', '.group-details', function (e) {
            e.preventDefault();
            var id = $(this).attr('href').split('-')[1];
            var name = $(this).closest('tr').find('.group-name').text();
            var description = $(this).closest('tr').find('.group-description').text();

            $("#groupIdDetail").text(id);
            $("#groupNameDetail").text(name);
            $("#groupDescriptionDetail").text(description);

            $("#group-detail-members-table tbody").empty();

            $.ajax({
                url: '@Url.Action("GetAllEmployeesForGroup", "Home")',
                type: 'GET',
                contentType: 'application/json',
                data: { groupId: id },
                success: function (employeesList) {

                    $.each(employeesList, function (index, employee) {

                        var statusClass = employee.isActive ? 'active-pill' : 'inactive-pill';
                        var statusText = employee.isActive ? 'Aktywny' : 'Nieaktywny';

                        var newRow = `<tr>
                            <td class="tiny-cell">${employee.name}</td>
                            <td class="tiny-cell">${employee.surname}</td>
                            <td class="small-cell">${employee.phoneNumber}</td>
                            <td class="tiny-centered-cell"><span class="${statusClass}">${statusText}</span></td>
                            </tr>`

                        $("#group-detail-members-table tbody").append(newRow);
                    });

                    $(".groups-list-container").hide();
                    $(".groups-details-container").show();
                },
                error: function (error) {
                    console.error(error.responseText);
                }
            });
        });

        $(document).on('click', '.log-details', function (e) {
            e.preventDefault();
            var id = $(this).attr('href').split('-')[1];

            $.ajax({
                url: '@Url.Action("GetLog", "Home")',
                type: 'GET',
                contentType: 'application/json',
                data: { logId: id },
                success: function (logEntity) {

                    $("#logTypeDetail").text(logEntity.log.logType);
                    $("#logSourceDetail").text(logEntity.log.logSource);
                    $("#logMessageDetail").text(logEntity.log.logMessage);
                    $("#logCreationDateDetail").text(new Date(logEntity.log.logCreationDate).toLocaleString('en-GB'));

                    $("#logCreatorNameDetail").text(logEntity.logCreator.name);
                    $("#logCreatorSurnameDetail").text(logEntity.logCreator.surname);
                    $("#logCreatorUsernameDetail").text(logEntity.logCreator.userName);
                    $("#logCreatorPhoneNumberDetail").text(logEntity.logCreator.phoneNumber || "Brak danych");


                    if (logEntity.type == "Template") {
                        HandleTemplateTypeLog(logEntity.template);
                    }
                    else if (logEntity.type == "Contact") {
                        HandleContactTypeLog(logEntity.contact);
                    }
                    else if (logEntity.type == "Groups-Assign") {
                        HandleGroupsAssignTypeLog({ group: logEntity.group, contact: logEntity.contact });
                    }
                    else if (logEntity.type == "Groups") {
                        HandleGroupsTypeLog(logEntity.group);
                    }
                    else if (logEntity.type == "SMS-ServerSms-Group" || logEntity.type == "SMS-SmsApi-Group") {
                        handleSMSGroupTypeLog({ apiUsed: logEntity.type.split("-")[1], sms: logEntity.sms, group: logEntity.group });
                    }
                    else if (logEntity.type == "SMS-ServerSms-NoGroup" || logEntity.type == "SMS-SmsApi-NoGroup") {
                        handleSMSNoGroupTypeLog({ apiUsed: logEntity.type.split("-")[1], sms: logEntity.sms });
                    }
                    else if (logEntity.type == "Import") {
                        handleImportTypeLog(logEntity.import);
                    }
                    else {
                        console.error("Unknown log type");
                    }

                    $(".logs-list-container").hide();
                    $(".logs-details-container").show();

                },
                error: function (error) {
                    console.error(error.responseText);
                }
            });
        });

        $(document).on('click', '#templates-list-next-page-button', function () {
            var lastId = $("#template-table").attr('last-id');
            PaginateTemplatesAndPopulateTable(null, lastId, 11, true);
        });

        $(document).on('click', '#templates-list-previous-page-button', function () {
            var firstId = $("#template-table").attr('first-id');
            PaginateTemplatesAndPopulateTable(firstId, null, 11, false);
        });

        $(document).on('click', '#contacts-list-next-page-button', function () {
            var lastId = $("#contacts-table").attr('last-id');
            PaginateContactsAndPopulateTable(null, lastId, 11, true);
        });

        $(document).on('click', '#contacts-list-previous-page-button', function () {
            var firstId = $("#contacts-table").attr('first-id');
            PaginateContactsAndPopulateTable(firstId, null, 11, false);
        });

        $(document).on('click', '#groups-list-next-page-button', function () {
            var lastId = $("#group-table").attr('last-id');
            PaginateGroupsAndPopulateTable(null, lastId, 11, true);
        });

        $(document).on('click', '#groups-list-previous-page-button', function () {
            var firstId = $("#group-table").attr('first-id');
            PaginateGroupsAndPopulateTable(firstId, null, 11, false);
        });

        $(document).on('click', '#logs-list-next-page-button', function () {
            var lastId = $("#log-table").attr('last-id');
            PaginateLogsAndPopulateTable(null, lastId,  11, true);
        });

        $(document).on('click', '#logs-list-previous-page-button', function () {
            var firstId = $("#log-table").attr('first-id');
            PaginateLogsAndPopulateTable(firstId, null, 11, false);
        });
       
        $(document).on('click', '.options-hidden', function (e) {
            e.preventDefault();
            $(".options-hidden").text("Ukryj opcje");
            $(".more-options-container").slideDown(300);
            $(".options-hidden").addClass("options-shown");
            $(".options-hidden").removeClass("options-hidden");

        });

        $(document).on('click', '.options-shown', function (e) {
            e.preventDefault();
            $(".options-shown").text("Więcej opcji");
            $(".more-options-container").slideUp(300);
            $(".options-shown").addClass("options-hidden");
            $(".options-shown").removeClass("options-shown");

        });

        $(document).on('click', '.contact-details', function (e) {
            e.preventDefault();

            var id = $(this).attr('href').split('-')[1];

            $.ajax({
                url: '@Url.Action("GetContactById", "Home")',
                type: 'GET',
                contentType: 'application/json',
                data: { id: id },
                success: function (contactEntity) {

                    var email = contactEntity.email || "Brak danych";
                    var hqAddress = contactEntity.hqAddres || "Brak danych";
                    var postalNumber = contactEntity.postalNumber || "Brak danych";
                    var city = contactEntity.city || "Brak danych";
                    var department = contactEntity.department || "Brak danych";
                    var groupNames = contactEntity.employeeGroupNames;

                    $("#contactIdDetail").text(id);
                    $("#contactNameDetail").text(contactEntity.name);
                    $("#contactSurnameDetail").text(contactEntity.surname);
                    $("#contactEmailDetail").text(email);
                    $("#contactPhoneNumberDetail").text(contactEntity.phoneNumber);
                    $("#contactHQAddressDetail").text(hqAddress);
                    $("#ContactPostalNumberDetail").text(postalNumber);
                    $("#ContactCityDetail").text(city);
                    $("#contactDepartmentDetail").text(department);
                    $("#contactStatusDetail").text(contactEntity.isActive ? "Aktywny" : "Nieaktywny");
                    $("#contactGroupsDetail").text(groupNames.length == 0 ? "Nie przypisano" : groupNames.join(', '));

                    $("#contactStatusDetail").text() == "Aktywny" ? $("#contactStatusDetail").css('color', '#018707') : $("#contactStatusDetail").css('color', '#df3b15');

                    $(".contacts-list-container ").hide();
                    $(".contacts-details-container").show();

                },
                error: function (error) {
                    console.error(error.responseText);
                }
            });
        });

        $(document).on('click', '.contact-delete', function (e) {
            e.preventDefault();
            var name = $(this).closest('tr').find('.contact-name').text();
            var surname = $(this).closest('tr').find('.contact-surname').text();
            var contactId = $(this).attr("href").split('-')[1];

            $("#modal-content-text").html(`Czy na pewno chcesz usunąć kontakt ${name} ${surname}?`);

            $('#deleteEntityModal').modal('show');

            $('#confirmDelete').one('click', function () {
                DeleteContact(contactId);

                $('#deleteEntityModal').modal('hide');
            });
            $('#denyDelete').one('click', function () {

                $('#deleteEntityModal').modal('hide');
            });
        });

        $(document).on('hidden.bs.modal', '#deleteEntityModal', function () {
            $('#confirmDelete').off('click');
            $('#denyDelete').off('click');
        });

        $(document).on('hidden.bs.modal', '#viewReportModal', function () {
            $("#import-modal-content-text").text("Importowanie kontaktów w toku, proszę czekać...");
            $("#import-modal-footer").removeClass("justify-content-center");
            $("#viewReport").hide();
            $("#closeModal").hide();
            $('#viewReport').off('click');
            $('#closeModal').off('click');
        });

        $(document).on('click', '.group-delete', function (e) {
            e.preventDefault();
            var groupId = $(this).attr("href").split('-')[1];
            var name = $(this).closest('tr').find('.group-name').text();

            $("#modal-content-text").html(`Czy na pewno chcesz usunąć grupę ${name}?`);
            $("#confirmDelete").html("Usuń grupę");

            $('#deleteEntityModal').modal('show');

            $('#confirmDelete').one('click', function () {
                DeleteGroup(groupId);

                $('#deleteEntityModal').modal('hide');
            });
            $('#denyDelete').one('click', function () {

                $('#deleteEntityModal').modal('hide');
            });
        });

        $(document).on('click', '.template-edit', function (e) {
            e.preventDefault();
            var templateId = $(this).attr("href").split('-')[1];
            var name = $(this).closest('tr').find('.template-name').text();
            var description = $(this).closest('tr').find('.template-description').text();
            var content = $(this).closest('tr').find('.template-content').text();

            if (description == "Brak opisu") {
                description = "";
            }

            $("#createOrEditButtonTemplates").attr("data-id", templateId)

            $("#templateNameInput").val(name);
            $("#templateDescriptionInput").val(description);
            $("#templateContentInput").val(content);
            const messageEle = document.getElementById('templateContentInput');
            document.getElementById('symbolCounterAdd').innerHTML = messageEle.value.length + "/" + messageEle.getAttribute('maxlength');

            $("#template-input-window-title").html("Edytuj szablon")
            $(".template-options-form").attr('id', 'edit-template-form');
            $("#createOrEditButtonTemplates").html("Zatwierdź edycję");
            $(".templates-list-container").hide();
            $(".templates-options-container").show();
        });

        $(document).on('click', '.contact-edit', function (e) {
            e.preventDefault();
            var contactId = $(this).attr("href").split('-')[1];

            $.ajax({
                url: '@Url.Action("GetContactById", "Home")',
                type: 'GET',
                data: { id: contactId },

                contentType: 'application/json',
                success: function (contactEnitity) {

                    if (contactEnitity.isActive == false) {
                        document.querySelector('input[name="isActive?"]:checked').checked = false;
                        document.getElementById("isActiveNo").checked = true;
                    }

                    $("#createOrEditButtonContacts").attr("data-id", contactEnitity.employeeId)
                    $("#contactNameInput").val(contactEnitity.name);
                    $("#contactSurnameInput").val(contactEnitity.surname);
                    $("#contactEmail").val(contactEnitity.email);
                    $("#contactPhoneNumber").val(contactEnitity.phoneNumber);
                    $("#contactHQAddress").val(contactEnitity.hqAddress);
                    $("#ContactPostalNumber").val(contactEnitity.postalNumber);
                    $("#ContactCity").val(contactEnitity.city);
                    $("#contactDepartment").val(contactEnitity.department);
                    contactEnitity.isActive ? $("#isActiveYes").prop("checked", true).trigger("click") : $("#isActiveNo").prop("checked", true).trigger("click");

                    $("#contact-input-window-title").html("Edytuj kontakt")
                    $(".contact-options-form").attr('id', 'edit-contact-form');
                    $("#createOrEditButtonContacts").html("Zatwierdź edycję");
                    $(".contacts-options-container").show();
                    $(".contacts-list-container").hide();
                },
                error: function (error) {
                    console.error(error.responseText);
                }
            });
        });

        $(document).on('click', '.group-edit', function (e) {
            e.preventDefault();
            var groupId = $(this).attr("href").split('-')[1];
            var name = $(this).closest('tr').find('.group-name').text();
            var description = $(this).closest('tr').find('.group-description').text();

            if (description == "Brak opisu") {
                description = "";
            }

            $("#createOrEditButtonGroups").attr("data-id", groupId)
            $("#groupNameInput").val(name);
            $("#groupDescriptionInput").val(description);
            const messageEle = document.getElementById('groupDescriptionInput');
            document.getElementById('symbolCounterAddGroups').innerHTML = messageEle.value.length + "/" + messageEle.getAttribute('maxlength');

            $("#group-input-window-title").html("Edytuj grupę")
            $(".group-options-form").attr('id', 'edit-group-form');
            $("#createOrEditButtonGroups").html("Zatwierdź edycję");
            $(".groups-list-container").hide();
            $(".groups-options-container").show();

        });

        $(document).on('click', '.group-assign', function (e) {
            e.preventDefault();
            var groupId = $(this).attr("href").split('-')[1];
            PopulateTablesForAssigningUsersToGroups(groupId)
        });

        $(document).on('click', '.group-pick-me', function (e) {
            e.preventDefault();
            var groupId = $(this).attr("href").split('-')[1];

            $.ajax({
                url: '@Url.Action("GetGroupById", "Home")',
                type: 'GET',
                data: { id: groupId },

                contentType: 'application/json',
                success: function (groupEntity) {
                    $("#remove-group-selection-button").show();
                    $("#GroupOfContacts").val(groupEntity.groupName);
                    $("#GroupOfContacts").attr('data-id', groupEntity.groupId);
                },
                error: function (error) {
                    console.error(error.responseText);
                }
            });
            GoBackToSMSWindow();
        });

        $(document).on('click', "#remove-group-selection-button", function (e) {
            $("#GroupOfContacts").val("");
            $("#GroupOfContacts").removeAttr('data-id');
            $(this).hide();
        });

        $(document).on('click', "#remove-template-selection-button", function (e) {
            $("#ChosenTemplate").val("");
            $("#SmsText").val("");
            $(this).hide();

            const messageEle = document.getElementById('SmsText');
            document.getElementById('sms-text-symbol-counter').innerHTML = messageEle.value.length + "/" + messageEle.getAttribute('maxlength');
        });

        $(document).on('click', '.template-pick-me', function (e) {
            e.preventDefault();
            var templateId = $(this).attr("href").split('-')[1];

            $.ajax({
                url: '@Url.Action("GetTemplateById", "Home")',
                type: 'GET',
                data: { id: templateId },

                contentType: 'application/json',
                success: function (templateEntity) {
                    $("#remove-template-selection-button").show();
                    $("#ChosenTemplate").val(templateEntity.templateName);
                    $("#ChosenTemplate").attr('data-id', templateEntity.groupId);
                    $("#SmsText").val(templateEntity.templateContent);

                    const messageEle = document.getElementById('SmsText');
                    document.getElementById('sms-text-symbol-counter').innerHTML = messageEle.value.length + "/" + messageEle.getAttribute('maxlength');
                },
                error: function (error) {
                    console.error(error.responseText);
                }
            });
            GoBackToSMSWindow();
        });

        $(document).on('click', '.contact-assign', function (e) {
            var link = $(this);
            link.addClass("disabled-link");
            e.preventDefault();
            var assignContactIdGroupId = $(this).attr("href").split('-');
            $.ajax({
                url: '@Url.Action("AddUserToGroup", "Home")',
                type: 'GET',
                data: { groupId: assignContactIdGroupId[2], employeeId: assignContactIdGroupId[1] },
                contentType: 'application/json',
                success: function () {
                    var groupMembersCount = $("#group-members-count").html();
                    $("#group-members-count").html(parseInt(groupMembersCount) + 1);
                    link.removeClass("contact-assign").addClass("contact-unassign");
                    link.attr("href", `#unassign-${assignContactIdGroupId[1]}-${assignContactIdGroupId[2]}`)
                    link.children("img").attr("src", "/icons/unassign-user.png").attr("title", "Wypisz z grupy");

                    var nearestRow = link.closest('tr');
                    var assignedGroups = nearestRow.find('td.centered-cell').html() == "Nie przypisano" ? [] : nearestRow.find('td.centered-cell').html().split(", ");
                    assignedGroups.push($("#group-name").html());
                    nearestRow.find('td.centered-cell').html(assignedGroups.join(", "));
                    link.removeClass("disabled-link");
                },
                error: function (error) {
                    console.error(error.responseText);
                    link.removeClass("disabled-link");
                }
            });
        });

        $(document).on('click', '.contact-unassign', function (e) {
            var link = $(this);
            link.addClass("disabled-link");
            e.preventDefault();
            var assignContactIdGroupId = $(this).attr("href").split('-');

            $.ajax({
                url: '@Url.Action("RemoveUserFromGroup", "Home")',
                type: 'GET',
                data: { groupId: assignContactIdGroupId[2], employeeId: assignContactIdGroupId[1] },
                contentType: 'application/json',
                success: function () {
                    var groupMembersCount = $("#group-members-count").html();
                    $("#group-members-count").html(parseInt(groupMembersCount) - 1);
                    link.removeClass("contact-unassign").addClass("contact-assign");
                    link.attr("href", `#assign-${assignContactIdGroupId[1]}-${assignContactIdGroupId[2]}`)
                    link.children("img").attr("src", "/icons/assign-user.png").attr("title", "Dopisz do grupy");

                    var nearestRow = link.closest('tr');
                    var assignedGroups = nearestRow.find('td.centered-cell').html().split(", ");
                    var index = assignedGroups.indexOf($("#group-name").html());
                    assignedGroups.splice(index, 1);
                    nearestRow.find('td.centered-cell').html(assignedGroups.join(", ") == "" ? "Nie przypisano" : nearestRow.find('td.centered-cell').html(assignedGroups.join(", ")));
                    link.removeClass("disabled-link");
                },
                error: function (error) {
                    console.error(error.responseText);
                    link.removeClass("disabled-link");
                }
            });
        });

        $(document).on('submit', '#create-template-form', function (e) {
            var form = document.getElementById("create-template-form");
            e.preventDefault();

            if (form.checkValidity() === false) {
                form.reportValidity()
                return
            }

            CreateNewTemplate();
            GoBackToTemplateList();
            $(".template-options-form :input").val('');

        });

        $(document).on('submit', "#settings-password-form", function (e) {
            var form = document.getElementById("settings-password-form");
            e.preventDefault();

            if(form.checkValidity() == false){
                form.reportValidity()
                return
            }
            
            var password = $("#settings-password-input").val();
            checkIfAuthorizationSuccessful(password);
        });

        $(document).on('submit', "#settings-form", function (e) {
            $("#status-message-settings").hide();
            $("#status-message-settings").removeClass("success-status");
            $("#status-message-settings").removeClass("failed-status");
            var form = document.getElementById("settings-form");
            e.preventDefault();

            if (form.checkValidity() == false) {
                form.reportValidity()
                return
            }

            updateApiSettings();
        });

        $(document).on('submit', '#create-contact-form', function (e) {
            var form = document.getElementById("create-contact-form");
            e.preventDefault();

            if (form.checkValidity() === false) {
                form.reportValidity()
                return
            }

            CreateNewContact();
            GoBackToContactList();

        });

        $(document).on('submit', '#create-group-form', function (e) {
            var form = document.getElementById("create-group-form");
            e.preventDefault();

            if (form.checkValidity() === false) {
                form.reportValidity()
                return
            }

            CreateNewGroup();
            GoBackToGroupList();
            $(".group-options-form :input").val('');

        });

        $(document).on('submit', '#edit-template-form', function (e) {
            var form = document.getElementById("edit-template-form");
            e.preventDefault();

            if (form.checkValidity() === false) {
                form.reportValidity()
                return
            }

            EditTemplate();
            GoBackToTemplateList();

        });

        $(document).on('submit', '#send-sms-form', function (e) {
            $("#status-message-sms").hide();
            $("#status-message-sms").removeClass("failed-status");
            $("#status-message-sms").removeClass("success-status");

            var form = document.getElementById("send-sms-form");
            e.preventDefault();

            if (form.checkValidity() === false) {
                form.reportValidity()
                return
            }

            var smsText = $("#SmsText").val();
            var smsGroupId = $("#GroupOfContacts").attr("data-id");
            var smsGroupName = $("#GroupOfContacts").val();
            var additionalPhoneNumbers = $("#AdditionalPhoneNumbers").val().replace(/[^0-9+,]/g, '');
            var smsAdditionalInfo = $("#Comment").val();

            var phoneLastSymbol = additionalPhoneNumbers.charAt(additionalPhoneNumbers.length - 1);
            if (phoneLastSymbol == " ") {
                additionalPhoneNumbers = additionalPhoneNumbers.slice(0, -2);
            }
            else if (phoneLastSymbol == ",") {
                additionalPhoneNumbers = additionalPhoneNumbers.slice(0, -1);
            }

            SendSMS(smsText, smsGroupId, smsGroupName, additionalPhoneNumbers, smsAdditionalInfo);
        });


        $(document).on('submit', '#edit-contact-form', function (e) {
            var form = document.getElementById("edit-contact-form");
            e.preventDefault();

            if (form.checkValidity() === false) {
                form.reportValidity()
                return
            }

            EditContact();
            GoBackToContactList();

        });

        $(document).on('submit', '#edit-group-form', function (e) {
            var form = document.getElementById("edit-group-form");
            e.preventDefault();

            if (form.checkValidity() === false) {
                form.reportValidity()
                return
            }

            EditGroup();
            GoBackToGroupList();

        });

        OnInputFilterTable(".template-search", "#template-table");

        OnInputFilterTable(".search-for-group-for-sms", "#choose-group-for-sms-table");

        OnInputFilterTable(".search-for-template-for-sms", "#choose-template-for-sms-table");

        OnInputFilterTable(".contact-search", "#contacts-table");

        OnInputFilterTable(".group-search", "#group-table");

        OnInputFilterTable(".import-contact-search", "#added-contacts-table");

        OnInputFilterTable(".group-search-for-user", "#group-assign-contact-list-table");

        OnInputFilterTable(".log-search", "#log-table");

        OnInputFilterTable(".import-contact-search", "#log-table");

        OnInputFilterTable(".import-contact-search", "#repeated-contacts-table");

        OnInputFilterTable(".import-contact-search", "#invalid-contacts-table");


        $("#ContactPostalNumber").on('input', function () {

            if (event.inputType === 'deleteContentBackward' || event.inputType === 'deleteContentForward') {
                return;
            }

            var inputValue = $(this).val();
            var cursorPosition = this.selectionStart;

            var sanitizedValue = inputValue.replace(/[^0-9]/g, '');

            var formattedValue = sanitizedValue.replace(/(\S{2})/, '$1-');
            var lengthDiff = formattedValue.length - inputValue.length;

            $(this).val(formattedValue);

            this.setSelectionRange(cursorPosition + lengthDiff, cursorPosition + lengthDiff);


        });

        $("#contactPhoneNumber").on('input', function () {
            var phoneInput = document.getElementById('contactPhoneNumber');

            if (event.inputType === 'deleteContentBackward' || event.inputType === 'deleteContentForward') {
                return;
            }

            var inputValue = phoneInput.value;
            var cursorPosition = phoneInput.selectionStart;

            var sanitizedValue = inputValue.replace(/[^0-9+]/g, '');

            var formattedValue = sanitizedValue.replace(/(\S{3})/g, '$1 ').trim();
            var lengthDiff = formattedValue.length - inputValue.length;

            phoneInput.value = formattedValue;

            phoneInput.setSelectionRange(cursorPosition + lengthDiff, cursorPosition + lengthDiff);
        });

        $("#AdditionalPhoneNumbers").on('input', function () {
            var phoneInput = document.getElementById('AdditionalPhoneNumbers');

            if (event.inputType === 'deleteContentBackward' || event.inputType === 'deleteContentForward') {
                return;
            }

            var inputValue = phoneInput.value;
            var cursorPosition = phoneInput.selectionStart;

            var sanitizedValue = inputValue.replace(/[^0-9+,]/g, '');

            var formattedValue = sanitizedValue.replace(/(\S{3})(?!,)/g, '$1 ').trim();

            var inputtedSymbol = inputValue.charAt(inputValue.length - 1);

            if (inputtedSymbol == ",") {
                formattedValue = formattedValue.slice(0, -1);
            }
            else if (formattedValue.replace(/[,\s]/g, "").length % 12 == 0 && formattedValue.length > 0 && /[^0-9]/.test(inputtedSymbol) !== true) {
                formattedValue += ", ";
            }

            var lengthDiff = formattedValue.length - inputValue.length;

            phoneInput.value = formattedValue;

            phoneInput.setSelectionRange(cursorPosition + lengthDiff, cursorPosition + lengthDiff);
        });

        $("#templateContentInput").on('input', function (e) {
            const counterEle = document.getElementById('symbolCounterAdd');

            SanitizePolishSymbols("templateContentInput");

            const target = e.target;
            const maxLength = target.getAttribute('maxlength');
            const currentLength = target.value.length;

            counterEle.innerHTML = `${currentLength}/${maxLength}`;
        });

        $("#SmsText").on('input', function (e) {
            const counterEle = document.getElementById('sms-text-symbol-counter');

            SanitizePolishSymbols("SmsText");

            const target = e.target;
            const maxLength = target.getAttribute('maxlength');
            const currentLength = target.value.length;

            counterEle.innerHTML = `${currentLength}/${maxLength}`;
        });

        $(document).on('input', "#contactEmail", function () {
            SanitizePolishSymbols("contactEmail");
        });

        $("#groupDescriptionInput").on('input', function (e) {
            const counterEle = document.getElementById('symbolCounterAddGroups');

            const target = e.target;
            const maxLength = target.getAttribute('maxlength');
            const currentLength = target.value.length;

            counterEle.innerHTML = `${currentLength}/${maxLength}`;
        });
    });


</script>
